@CHARSET "UTF-8";

body {
	color: #000; /* цвет текста на странице */
	background: #fff; /* фон */
	margin: 0; /* обнуление полей */
}

body, html {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#menu {
	width: 20%; /* ширина меню */
	height: auto; /* высота */
	background: #0fc; /* фон */
	float: left; /* всплытие влево */
}

#content {
	height: auto; /* высота контента */
	margin: 0 0 0 20%; /* боковые поля */
}

#root {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	background: #ddd; /* фон */
}

#helper {
	height: 50px;
}